<html>
<table>
<tr>
   <th>Nome</th>
   <th>Login</th>
   <th name='alunoNota'>Nota</th>
   <th *ngFor="let criterio of criteriosPossiveis;">{{criterio.nome}}</th>
</tr>
	<tr *ngFor="let aluno of alunos" id='alunos'>
	   <td name='alunoNome'>{{aluno.nome}}</td>
	   <td>{{aluno.login}}</td>
	   <td id='alunoNota{{aluno.nome}}'>{{aluno.nota}}</td>
	<td *ngFor="let criterio of criteriosPossiveis;" name='allCriterios'>
	<input type="checkbox" [(ngModel)]="aluno.criterios[criterio.nome]"/>
	</td>
	<td name='botaoAdicionar'><button (click)="atualizarAluno(aluno)" name='botaoAdicionar{{aluno.nome}}'>Adicionar</button></td>
</tr>
</table>
<h5 name='erro' *ngIf ="temConceitosErrados">Erro: Existem critérios com nota menor que 0 ou maior que 10 ou vazios</h5>
</html>